#gallery_actions {
	margin-bottom:10px;
}
#gallery_table_wrapper tr td, #gallery_table_wrapper tr th {
	padding-bottom:8px;
	padding-top:8px;
	vertical-align:top;
	
}
#gallery_table_wrapper tr td {
	border:none;
}

#gallery_table_wrapper td table td {
	border:0 none;
	padding:2px;
	vertical-align:middle;
}

.sort-item .handle {
	cursor:move;
	vertical-align:top;
	width:24px;
}
.sort-item table {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px; 
	background-color:#EFEFEF;
	border:1px solid #D0D0D0;
	margin:0 0 3px;
}
.sort-item-placeholder {
	height:67px;
	border: 1px dashed #bbb;
	background-color: #ffffee;
}

.sort-item .handle div {
	height:60px;
	width:24px;
}
#icon-edit.icon32.icon32-posts-ult_slideshow{background:url('../images/slideshow_icon32.png');}
