/* 
    Document   : widgets
    Created on : 20.04.2013, 16:28:00
    Author     : myThemes
*/

aside{
    width: 300px;
    margin: 0px 15px;
    float: left;
}

div.widget{
    margin-top: 40px;
}
aside div.widget:first-child{
    margin-top: 0px;
}
div.widget h4{
    color: #666666;
    line-height: 30px;
    margin: 0px;
    padding-bottom: 10px;
}
div.widget h5{
    margin-top: 0px;
    margin-bottom: 5px;
}
div.widget ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
div.widget ul li{
    font-family: Helvetica, Arial,sans-serif;
    color: #666666;
    padding: 9px 0px 0px 0px;
    margin: 9px 0px 0px 0px;
    border-top: 1px dotted #e6e6e6;
    text-transform: uppercase;
}
div.widget ul li:first-child{
    margin: 0px;
}
div.widget ul li a{
    font-family: Helvetica, Arial,sans-serif;
    color: #046380;
    text-transform: uppercase;
}
div.widget ul li a:hover{
    color: #01B0F0;
}
div.widget ul li ul li,
div.widget ul li ul li:first-child{
    padding-left: 15px;
    margin: 9px 0px 0px 0px;
}
div.widget_search{
    display: block;
    height: 41px;
}
div.widget_search form{
    border: 1px solid #cbcbcb;
    float: left;
    padding: 0px;
    margin: 0px;
    width: 300px;
    height: 39px;
}
div.widget_search fieldset{
    border: 0px;
    padding: 0px;
    margin: 0px;
    width: 300px;
    height: 39px;
}
div.widget_search form input[type="text"]{
    border: 1px solid #d8d8d8;
    color: #d3d3d3;
    font-family: Helvetica, Arial,sans-serif;
    margin: 0px 1px 0px 0px;
    height: 23px;
    width: 244px;
    border: none;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;	
}
div.widget_search form input[type="text"]:focus{
    border: none;
    color: #666666;
}
div.widget_search form input[type="submit"]{
    background-image: url("../images/search.png");
    background-color: transparent;
    border:none;
    background-position: 0 0;
    display: inline-block;
    height: 39px;
    margin: 0px;
    padding: 0px;
    width: 39px;
    opacity:0.7;
    filter:alpha(opacity=70);
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}
div.widget_search form input[type="submit"]:hover{
    opacity:1;
    filter:alpha(opacity=100);
}
div.widget_calendar table th{
    background-color: #fafafa;
    border: 1px solid #f4f4f4;
    height: 40px;
    padding: 0px;
}

div.widget_calendar table td{
    border: 1px solid #f7f7f7;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    padding: 0px;
}