@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('../css/font/MonoSocialIconsFont.eot');
  src: url('../css/font/MonoSocialIconsFont.eot?#iefix') format('embedded-opentype'), url('../css/font/MonoSocialIconsFont.woff') format('woff'), url('../css/font/MonoSocialIconsFont.ttf') format('truetype'), url('../css/font/MonoSocialIconsFont.svg#MonoSocialIconsFont') format('svg');
  src: url('../css/font/MonoSocialIconsFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}
[class^="social-icon-"],
[class*=" social-icon-"] {
  font-family: 'Mono Social Icons Font';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em
}
a [class^="social-icon-"],
a [class*=" social-icon-"] {
  display: inline
}
[class^="social-icon-"]:before,
[class*=" social-icon-"]:before {
  text-decoration: inherit;
  display: inline-block
}
.social-icon-fivehundredpx:before {
  content: "\e000"
}
.social-icon-aboutme:before {
  content: "\e001"
}
.social-icon-addme:before {
  content: "\e002"
}
.social-icon-amazon:before {
  content: "\e003"
}
.social-icon-aol:before {
  content: "\e004"
}
.social-icon-appstorealt:before {
  content: "\e005"
}
.social-icon-appstore:before {
  content: "\e006"
}
.social-icon-apple:before {
  content: "\e007"
}
.social-icon-bebo:before {
  content: "\e008"
}
.social-icon-behance:before {
  content: "\e009"
}
.social-icon-bing:before {
  content: "\e010"
}
.social-icon-blip:before {
  content: "\e011"
}
.social-icon-blogger:before {
  content: "\e012"
}
.social-icon-coroflot:before {
  content: "\e013"
}
.social-icon-daytum:before {
  content: "\e014"
}
.social-icon-delicious:before {
  content: "\e015"
}
.social-icon-designbump:before {
  content: "\e016"
}
.social-icon-designfloat:before {
  content: "\e017"
}
.social-icon-deviantart:before {
  content: "\e018"
}
.social-icon-diggalt:before {
  content: "\e019"
}
.social-icon-digg:before {
  content: "\e020"
}
.social-icon-dribble:before {
  content: "\e021"
}
.social-icon-drupal:before {
  content: "\e022"
}
.social-icon-ebay:before {
  content: "\e023"
}
.social-icon-email:before {
  content: "\e024"
}
.social-icon-emberapp:before {
  content: "\e025"
}
.social-icon-etsy:before {
  content: "\e026"
}
.social-icon-facebook:before {
  content: "\e027"
}
.social-icon-feedburner:before {
  content: "\e028"
}
.social-icon-flickr:before {
  content: "\e029"
}
.social-icon-foodspotting:before {
  content: "\e030"
}
.social-icon-forrst:before {
  content: "\e031"
}
.social-icon-foursquare:before {
  content: "\e032"
}
.social-icon-friendsfeed:before {
  content: "\e033"
}
.social-icon-friendstar:before {
  content: "\e034"
}
.social-icon-gdgt:before {
  content: "\e035"
}
.social-icon-github:before {
  content: "\e036"
}
.social-icon-githubalt:before {
  content: "\e037"
}
.social-icon-googlebuzz:before {
  content: "\e038"
}
.social-icon-googleplus:before {
  content: "\e039"
}
.social-icon-googletalk:before {
  content: "\e040"
}
.social-icon-gowallapin:before {
  content: "\e041"
}
.social-icon-gowalla:before {
  content: "\e042"
}
.social-icon-grooveshark:before {
  content: "\e043"
}
.social-icon-heart:before {
  content: "\e044"
}
.social-icon-hyves:before {
  content: "\e045"
}
.social-icon-icondock:before {
  content: "\e046"
}
.social-icon-icq:before {
  content: "\e047"
}
.social-icon-identica:before {
  content: "\e048"
}
.social-icon-imessage:before {
  content: "\e049"
}
.social-icon-itunes:before {
  content: "\e050"
}
.social-icon-lastfm:before {
  content: "\e051"
}
.social-icon-linkedin:before {
  content: "\e052"
}
.social-icon-meetup:before {
  content: "\e053"
}
.social-icon-metacafe:before {
  content: "\e054"
}
.social-icon-mixx:before {
  content: "\e055"
}
.social-icon-mobileme:before {
  content: "\e056"
}
.social-icon-mrwong:before {
  content: "\e057"
}
.social-icon-msn:before {
  content: "\e058"
}
.social-icon-myspace:before {
  content: "\e059"
}
.social-icon-newsvine:before {
  content: "\e060"
}
.social-icon-paypal:before {
  content: "\e061"
}
.social-icon-photobucket:before {
  content: "\e062"
}
.social-icon-picasa:before {
  content: "\e063"
}
.social-icon-pinterest:before {
  content: "\e064"
}
.social-icon-podcast:before {
  content: "\e065"
}
.social-icon-posterous:before {
  content: "\e066"
}
.social-icon-qik:before {
  content: "\e067"
}
.social-icon-quora:before {
  content: "\e068"
}
.social-icon-reddit:before {
  content: "\e069"
}
.social-icon-retweet:before {
  content: "\e070"
}
.social-icon-rss:before {
  content: "\e071"
}
.social-icon-scribd:before {
  content: "\e072"
}
.social-icon-sharethis:before {
  content: "\e073"
}
.social-icon-skype:before {
  content: "\e074"
}
.social-icon-slashdot:before {
  content: "\e075"
}
.social-icon-slideshare:before {
  content: "\e076"
}
.social-icon-smugmug:before {
  content: "\e077"
}
.social-icon-soundcloud:before {
  content: "\e078"
}
.social-icon-spotify:before {
  content: "\e079"
}
.social-icon-squidoo:before {
  content: "\e080"
}
.social-icon-stackoverflow:before {
  content: "\e081"
}
.social-icon-star:before {
  content: "\e082"
}
.social-icon-stumbleupon:before {
  content: "\e083"
}
.social-icon-technorati:before {
  content: "\e084"
}
.social-icon-tumblr:before {
  content: "\e085"
}
.social-icon-twitterbird:before {
  content: "\e086"
}
.social-icon-twitter:before {
  content: "\e087"
}
.social-icon-viddler:before {
  content: "\e088"
}
.social-icon-vimeo:before {
  content: "\e089"
}
.social-icon-virb:before {
  content: "\e090"
}
.social-icon-www:before {
  content: "\e091"
}
.social-icon-wikipedia:before {
  content: "\e092"
}
.social-icon-windows:before {
  content: "\e093"
}
.social-icon-wordpress:before {
  content: "\e094"
}
.social-icon-xing:before {
  content: "\e095"
}
.social-icon-yahoobuzz:before {
  content: "\e096"
}
.social-icon-yahoo:before {
  content: "\e097"
}
.social-icon-yelp:before {
  content: "\e098"
}
.social-icon-youtube:before {
  content: "\e099"
}
.social-icon-instagram:before {
  content: "\e100"
}
.social-icon-rounded-fivehundredpx:before {
  content: "\e400"
}
.social-icon-rounded-aboutme:before {
  content: "\e401"
}
.social-icon-rounded-addme:before {
  content: "\e402"
}
.social-icon-rounded-amazon:before {
  content: "\e403"
}
.social-icon-rounded-aol:before {
  content: "\e404"
}
.social-icon-rounded-appstorealt:before {
  content: "\e405"
}
.social-icon-rounded-appstore:before {
  content: "\e406"
}
.social-icon-rounded-apple:before {
  content: "\e407"
}
.social-icon-rounded-bebo:before {
  content: "\e408"
}
.social-icon-rounded-behance:before {
  content: "\e409"
}
.social-icon-rounded-bing:before {
  content: "\e410"
}
.social-icon-rounded-blip:before {
  content: "\e411"
}
.social-icon-rounded-blogger:before {
  content: "\e412"
}
.social-icon-rounded-coroflot:before {
  content: "\e413"
}
.social-icon-rounded-daytum:before {
  content: "\e414"
}
.social-icon-rounded-delicious:before {
  content: "\e415"
}
.social-icon-rounded-designbump:before {
  content: "\e416"
}
.social-icon-rounded-designfloat:before {
  content: "\e417"
}
.social-icon-rounded-deviantart:before {
  content: "\e418"
}
.social-icon-rounded-diggalt:before {
  content: "\e419"
}
.social-icon-rounded-digg:before {
  content: "\e420"
}
.social-icon-rounded-dribble:before {
  content: "\e421"
}
.social-icon-rounded-drupal:before {
  content: "\e422"
}
.social-icon-rounded-ebay:before {
  content: "\e423"
}
.social-icon-rounded-email:before {
  content: "\e424"
}
.social-icon-rounded-emberapp:before {
  content: "\e425"
}
.social-icon-rounded-etsy:before {
  content: "\e426"
}
.social-icon-rounded-facebook:before {
  content: "\e427"
}
.social-icon-rounded-feedburner:before {
  content: "\e428"
}
.social-icon-rounded-flickr:before {
  content: "\e429"
}
.social-icon-rounded-foodspotting:before {
  content: "\e430"
}
.social-icon-rounded-forrst:before {
  content: "\e431"
}
.social-icon-rounded-foursquare:before {
  content: "\e432"
}
.social-icon-rounded-friendsfeed:before {
  content: "\e433"
}
.social-icon-rounded-friendstar:before {
  content: "\e434"
}
.social-icon-rounded-gdgt:before {
  content: "\e435"
}
.social-icon-rounded-github:before {
  content: "\e436"
}
.social-icon-rounded-githubalt:before {
  content: "\e437"
}
.social-icon-rounded-googlebuzz:before {
  content: "\e438"
}
.social-icon-rounded-googleplus:before {
  content: "\e439"
}
.social-icon-rounded-googletalk:before {
  content: "\e440"
}
.social-icon-rounded-gowallapin:before {
  content: "\e441"
}
.social-icon-rounded-gowalla:before {
  content: "\e442"
}
.social-icon-rounded-grooveshark:before {
  content: "\e443"
}
.social-icon-rounded-heart:before {
  content: "\e444"
}
.social-icon-rounded-hyves:before {
  content: "\e445"
}
.social-icon-rounded-icondock:before {
  content: "\e446"
}
.social-icon-rounded-icq:before {
  content: "\e447"
}
.social-icon-rounded-identica:before {
  content: "\e448"
}
.social-icon-rounded-imessage:before {
  content: "\e449"
}
.social-icon-rounded-itunes:before {
  content: "\e450"
}
.social-icon-rounded-lastfm:before {
  content: "\e451"
}
.social-icon-rounded-linkedin:before {
  content: "\e452"
}
.social-icon-rounded-meetup:before {
  content: "\e453"
}
.social-icon-rounded-metacafe:before {
  content: "\e454"
}
.social-icon-rounded-mixx:before {
  content: "\e455"
}
.social-icon-rounded-mobileme:before {
  content: "\e456"
}
.social-icon-rounded-mrwong:before {
  content: "\e457"
}
.social-icon-rounded-msn:before {
  content: "\e458"
}
.social-icon-rounded-myspace:before {
  content: "\e459"
}
.social-icon-rounded-newsvine:before {
  content: "\e460"
}
.social-icon-rounded-paypal:before {
  content: "\e461"
}
.social-icon-rounded-photobucket:before {
  content: "\e462"
}
.social-icon-rounded-picasa:before {
  content: "\e463"
}
.social-icon-rounded-pinterest:before {
  content: "\e464"
}
.social-icon-rounded-podcast:before {
  content: "\e465"
}
.social-icon-rounded-posterous:before {
  content: "\e466"
}
.social-icon-rounded-qik:before {
  content: "\e467"
}
.social-icon-rounded-quora:before {
  content: "\e468"
}
.social-icon-rounded-reddit:before {
  content: "\e469"
}
.social-icon-rounded-retweet:before {
  content: "\e470"
}
.social-icon-rounded-rss:before {
  content: "\e471"
}
.social-icon-rounded-scribd:before {
  content: "\e472"
}
.social-icon-rounded-sharethis:before {
  content: "\e473"
}
.social-icon-rounded-skype:before {
  content: "\e474"
}
.social-icon-rounded-slashdot:before {
  content: "\e475"
}
.social-icon-rounded-slideshare:before {
  content: "\e476"
}
.social-icon-rounded-smugmug:before {
  content: "\e477"
}
.social-icon-rounded-soundcloud:before {
  content: "\e478"
}
.social-icon-rounded-spotify:before {
  content: "\e479"
}
.social-icon-rounded-squidoo:before {
  content: "\e480"
}
.social-icon-rounded-stackoverflow:before {
  content: "\e481"
}
.social-icon-rounded-star:before {
  content: "\e482"
}
.social-icon-rounded-stumbleupon:before {
  content: "\e483"
}
.social-icon-rounded-technorati:before {
  content: "\e484"
}
.social-icon-rounded-tumblr:before {
  content: "\e485"
}
.social-icon-rounded-twitterbird:before {
  content: "\e486"
}
.social-icon-rounded-twitter:before {
  content: "\e487"
}
.social-icon-rounded-viddler:before {
  content: "\e488"
}
.social-icon-rounded-vimeo:before {
  content: "\e489"
}
.social-icon-rounded-virb:before {
  content: "\e490"
}
.social-icon-rounded-www:before {
  content: "\e491"
}
.social-icon-rounded-wikipedia:before {
  content: "\e492"
}
.social-icon-rounded-windows:before {
  content: "\e493"
}
.social-icon-rounded-wordpress:before {
  content: "\e494"
}
.social-icon-rounded-xing:before {
  content: "\e495"
}
.social-icon-rounded-yahoobuzz:before {
  content: "\e496"
}
.social-icon-rounded-yahoo:before {
  content: "\e497"
}
.social-icon-rounded-yelp:before {
  content: "\e498"
}
.social-icon-rounded-youtube:before {
  content: "\e499"
}
.social-icon-rounded-instagram:before {
  content: "\e500"
}
.social-icon-circle-fivehundredpx:before {
  content: "\e200"
}
.social-icon-circle-aboutme:before {
  content: "\e201"
}
.social-icon-circle-addme:before {
  content: "\e202"
}
.social-icon-circle-amazon:before {
  content: "\e203"
}
.social-icon-circle-aol:before {
  content: "\e204"
}
.social-icon-circle-appstorealt:before {
  content: "\e205"
}
.social-icon-circle-appstore:before {
  content: "\e206"
}
.social-icon-circle-apple:before {
  content: "\e207"
}
.social-icon-circle-bebo:before {
  content: "\e208"
}
.social-icon-circle-behance:before {
  content: "\e209"
}
.social-icon-circle-bing:before {
  content: "\e210"
}
.social-icon-circle-blip:before {
  content: "\e211"
}
.social-icon-circle-blogger:before {
  content: "\e212"
}
.social-icon-circle-coroflot:before {
  content: "\e213"
}
.social-icon-circle-daytum:before {
  content: "\e214"
}
.social-icon-circle-delicious:before {
  content: "\e215"
}
.social-icon-circle-designbump:before {
  content: "\e216"
}
.social-icon-circle-designfloat:before {
  content: "\e217"
}
.social-icon-circle-deviantart:before {
  content: "\e218"
}
.social-icon-circle-diggalt:before {
  content: "\e219"
}
.social-icon-circle-digg:before {
  content: "\e220"
}
.social-icon-circle-dribble:before {
  content: "\e221"
}
.social-icon-circle-drupal:before {
  content: "\e222"
}
.social-icon-circle-ebay:before {
  content: "\e223"
}
.social-icon-circle-email:before {
  content: "\e224"
}
.social-icon-circle-emberapp:before {
  content: "\e225"
}
.social-icon-circle-etsy:before {
  content: "\e226"
}
.social-icon-circle-facebook:before {
  content: "\e227"
}
.social-icon-circle-feedburner:before {
  content: "\e228"
}
.social-icon-circle-flickr:before {
  content: "\e229"
}
.social-icon-circle-foodspotting:before {
  content: "\e230"
}
.social-icon-circle-forrst:before {
  content: "\e231"
}
.social-icon-circle-foursquare:before {
  content: "\e232"
}
.social-icon-circle-friendsfeed:before {
  content: "\e233"
}
.social-icon-circle-friendstar:before {
  content: "\e234"
}
.social-icon-circle-gdgt:before {
  content: "\e235"
}
.social-icon-circle-github:before {
  content: "\e236"
}
.social-icon-circle-githubalt:before {
  content: "\e237"
}
.social-icon-circle-googlebuzz:before {
  content: "\e238"
}
.social-icon-circle-googleplus:before {
  content: "\e239"
}
.social-icon-circle-googletalk:before {
  content: "\e240"
}
.social-icon-circle-gowallapin:before {
  content: "\e241"
}
.social-icon-circle-gowalla:before {
  content: "\e242"
}
.social-icon-circle-grooveshark:before {
  content: "\e243"
}
.social-icon-circle-heart:before {
  content: "\e244"
}
.social-icon-circle-hyves:before {
  content: "\e245"
}
.social-icon-circle-icondock:before {
  content: "\e246"
}
.social-icon-circle-icq:before {
  content: "\e247"
}
.social-icon-circle-identica:before {
  content: "\e248"
}
.social-icon-circle-imessage:before {
  content: "\e249"
}
.social-icon-circle-itunes:before {
  content: "\e250"
}
.social-icon-circle-lastfm:before {
  content: "\e251"
}
.social-icon-circle-linkedin:before {
  content: "\e252"
}
.social-icon-circle-meetup:before {
  content: "\e253"
}
.social-icon-circle-metacafe:before {
  content: "\e254"
}
.social-icon-circle-mixx:before {
  content: "\e255"
}
.social-icon-circle-mobileme:before {
  content: "\e256"
}
.social-icon-circle-mrwong:before {
  content: "\e257"
}
.social-icon-circle-msn:before {
  content: "\e258"
}
.social-icon-circle-myspace:before {
  content: "\e259"
}
.social-icon-circle-newsvine:before {
  content: "\e260"
}
.social-icon-circle-paypal:before {
  content: "\e261"
}
.social-icon-circle-photobucket:before {
  content: "\e262"
}
.social-icon-circle-picasa:before {
  content: "\e263"
}
.social-icon-circle-pinterest:before {
  content: "\e264"
}
.social-icon-circle-podcast:before {
  content: "\e265"
}
.social-icon-circle-posterous:before {
  content: "\e266"
}
.social-icon-circle-qik:before {
  content: "\e267"
}
.social-icon-circle-quora:before {
  content: "\e268"
}
.social-icon-circle-reddit:before {
  content: "\e269"
}
.social-icon-circle-retweet:before {
  content: "\e270"
}
.social-icon-circle-rss:before {
  content: "\e271"
}
.social-icon-circle-scribd:before {
  content: "\e272"
}
.social-icon-circle-sharethis:before {
  content: "\e273"
}
.social-icon-circle-skype:before {
  content: "\e274"
}
.social-icon-circle-slashdot:before {
  content: "\e275"
}
.social-icon-circle-slideshare:before {
  content: "\e276"
}
.social-icon-circle-smugmug:before {
  content: "\e277"
}
.social-icon-circle-soundcloud:before {
  content: "\e278"
}
.social-icon-circle-spotify:before {
  content: "\e279"
}
.social-icon-circle-squidoo:before {
  content: "\e280"
}
.social-icon-circle-stackoverflow:before {
  content: "\e281"
}
.social-icon-circle-star:before {
  content: "\e282"
}
.social-icon-circle-stumbleupon:before {
  content: "\e283"
}
.social-icon-circle-technorati:before {
  content: "\e284"
}
.social-icon-circle-tumblr:before {
  content: "\e285"
}
.social-icon-circle-twitterbird:before {
  content: "\e286"
}
.social-icon-circle-twitter:before {
  content: "\e287"
}
.social-icon-circle-viddler:before {
  content: "\e288"
}
.social-icon-circle-vimeo:before {
  content: "\e289"
}
.social-icon-circle-virb:before {
  content: "\e290"
}
.social-icon-circle-www:before {
  content: "\e291"
}
.social-icon-circle-wikipedia:before {
  content: "\e292"
}
.social-icon-circle-windows:before {
  content: "\e293"
}
.social-icon-circle-wordpress:before {
  content: "\e294"
}
.social-icon-circle-xing:before {
  content: "\e295"
}
.social-icon-circle-yahoobuzz:before {
  content: "\e296"
}
.social-icon-circle-yahoo:before {
  content: "\e297"
}
.social-icon-circle-yelp:before {
  content: "\e298"
}
.social-icon-circle-youtube:before {
  content: "\e299"
}
.social-icon-circle-instagram:before {
  content: "\e300"
}