.wfm-mega-menu ul,
.wfm-mega-menu ul li {
  list-style: none
}
.wfm-mega-menu ul.menu {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 100
}
.wfm-mega-menu ul li ul {
  display: none
}
.wfm-mega-menu .sub {
  display: none
}
.wfm-mega-menu .sub ul {
  display: block
}
.wfm-mega-menu {
  font: normal 13px Arial, sans-serif;
  line-height: 16px
}
.wfm-mega-menu ul,
.wfm-mega-menu ul,
.wfm-mega-menu ul li {
  margin: 0;
  padding: 0;
  border: none
}
.wfm-mega-menu ul.menu {
  width: 100%;
  height: 30px;
  position: relative
}
.wfm-mega-menu ul li {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: bold
}
.wfm-mega-menu ul li a {
  float: left;
  display: block;
  padding: 12px 18px 12px 18px;
  text-decoration: none
}
.wfm-mega-menu ul li a.wf-mega {
  position: relative
}
.wfm-mega-menu ul li a .wf-mega-icon {
  display: block;
  position: absolute;
  top: 18px;
  right: 5px;
  width: 8px;
  height: 6px;
  background: url(../images/hmm/arrow.png) no-repeat 0 100%
}
.wfm-mega-menu ul li.mega-hover a,
.wfm-mega-menu ul li a:hover {
  background-position: 100% -40px;
  text-shadow: none
}
.wfm-mega-menu ul li.mega-hover a .wf-mega-icon {
  background-position: 0 100%
}
.wfm-mega-menu ul li .sub-container {
  position: absolute
}
.wfm-mega-menu ul li .sub {
  padding: 20px 20px 20px 10px
}
.wfm-mega-menu ul li .sub-container.mega .sub {
  padding: 20px 0 10px 10px
}
.wfm-mega-menu ul.full-width li .sub-container.mega .sub {
  margin-right: -2px
}
.wfm-mega-menu ul li .sub .row {
  width: 100%;
  overflow: hidden;
  clear: both
}
.wfm-mega-menu ul li .sub li {
  list-style: none;
  float: none;
  width: 170px;
  font-size: 1em;
  font-weight: normal
}
.wfm-mega-menu ul li .sub li.mega-hdr {
  margin: 0 10px 10px 0;
  float: left
}
.wfm-mega-menu ul li .sub li.mega-hdr.last {
  margin-right: 0
}
.wfm-mega-menu ul li .sub a {
  background: none;
  border: none;
  text-shadow: none;
  padding: 7px 10px;
  display: block;
  float: none;
  text-decoration: none;
  font-size: .9em
}
.wfm-vertical-mega-menu ul li .sub li.mega-hdr a.mega-hdr-a,
.wfm-mega-menu ul li .sub li.mega-hdr a.mega-hdr-a {
  position: relative;
  outline: none;
  overflow: visible;
  cursor: pointer;
  border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  padding: 5px 5px 5px 5px;
  text-transform: uppercase
}
.wfm-mega-menu ul li .sub li.mega-hdr a.mega-hdr-a:hover {
  text-shadow: none
}
.wfm-mega-menu ul .sub li.mega-hdr li a {
  padding: 4px 5px 4px 20px;
  background: url(../images/hmm/arrow_off.png) no-repeat 5px 8px;
  font-weight: normal
}
.wfm-mega-menu ul .sub li.mega-hdr li a:hover {
  background: url(../images/hmm/arrow_on.png) no-repeat 5px 8px
}
.wfm-mega-menu ul .sub ul li {
  padding-right: 0
}
.wfm-mega-menu ul li .sub-container.non-mega .sub {
  padding: 20px 10px 20px 10px
}
.wfm-mega-menu ul li .sub-container.non-mega li {
  padding: 0;
  width: 190px;
  margin: 0
}
.wfm-mega-menu ul li .sub-container.non-mega li a {
  padding: 7px 5px 7px 22px;
  background: url(../images/hmm/arrow_off.png) no-repeat 7px 10px
}
.wfm-mega-menu ul li .sub-container.non-mega li a:hover {
  background: url(../images/hmm/arrow_on.png) no-repeat 7px 10px
}